/* csslint adjoining-classes: false ,order-alphabetical: false, ids: false,unqualified-attributes: false, unique-headings:false, qualified-headings:false */
html,body{font-family: 'Open Sans', sans-serif;color: #363A3F;background: #ecf0f5;font-size:16px;height:100%;width:100%;}
a:hover{text-decoration: none;}
ul{list-style-type: none;margin:0;padding:0;}
textarea{resize: none;}

.mainHeader{position: fixed;top: 0;left: 0;width: 100%;background: #fff; box-shadow:0 0 10px rgba(0,0,0,.4); z-index:2000;}
.mainHeader h2{font-size: 14px;color:rgb(34,123,65);text-align:center;display: inline-block;}
.mainHeader img{width:20px; vertical-align: sub;}
.mainHeader li{width:25%;text-align:center;}

.mainHeader span{font-size: 10px;}
.menuHeader{margin-top: 0;}
.userNavWrap{position:fixed;top: 0;bottom:0;width:250px;z-index:10;background: #fff;box-shadow: 0 0 20px rgba(0,0,0,.4);padding-top:72px;}
.userNavWrap>ul>li:not(.list-title)>a{font-size: 12px;color:#363A3F;display: block;}
.userNavWrap>ul>li:not(.list-title)>a::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
}
.userNavWrap>ul>li:not(.list-title)>a:hover{color:rgb(34,123,65);padding-left: 10px;}
.opened{right:0;}
.closed{right:-270px;}
.mainSection{padding-top: 40px;min-height: 600px; height: auto;}
.mainFooter{position: relative; min-height:100px; height:auto; background: #ccc; margin-top: 20px;}
.animation{-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.cursor{cursor:pointer;}
.navFooter{padding:10px;}
.navFooter>ul{text-align:center;}
.navFooter>ul>li{display: inline;padding:5px;}
.navFooter>ul>li>a{color:#868686;}
.navFooter>ul>li>a:hover{color:#000;}

.addrInfo>li>span{display:inline-block;vertical-align: top;}
.addrInfo>li>span:first-child{width:90px;font-weight: bold;}

.card-body{min-height: 100px; height: auto; max-height: 500px; overflow: auto;}
.dataTables_info,.dataTables_length{text-align: left !important;}
#legend{display: inline;}
#legend a{display: inline-block; width:40px; text-align: center;padding:10px;margin-right:-5px;}
.alertModalWrap{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;margin: 0 auto;padding: 100px 0;background: rgba(0,0,0,.4);display: none;}
.alertModalWrap>div{width: 350px;margin: 0 auto;}
.tooltip{z-index:2001;}
/* // Extra small devices (portrait phones, lblockess than 576px) */
@media (max-width: 575px) {
  .mainNav{float:right;}
  .mainHeader li {width: auto;}
  .mainHeader i{display: inline-block;}
  .mainHeader span{display:inline-block;font-weight:bold;}
  .mainHeader a{color:rgb(34,123,65);font-size:15px;padding:.3rem;}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .mainNav{float:right;}
  .mainHeader li {width: auto;}
  .mainHeader i{display: inline-block;}
  .mainHeader span{display:inline-block;font-weight:bold;}
  .mainHeader a{color:rgb(34,123,65);font-size:15px;padding:.3rem;}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .mainHeader i{display: block;}
  .mainHeader a{color:rgb(34,123,65);font-size:15px;padding:.3rem;}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .mainHeader i{display: block;}
  .mainHeader a{color:rgb(34,123,65);font-size:15px;padding:.3rem;}
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mainHeader h2{font-size: 30px; line-height: 3.8rem;text-align:left;}
  .mainHeader img{width:40px; vertical-align: sub;}
  .mainHeader a{padding:10px 0 3px;}
  .mainHeader a:hover{background: rgb(34,123,65);}
  .mainHeader i{font-size: 25px; color:rgb(34,123,65);}
  .mainHeader a:hover>i{color:rgb(255,255,255);}
  .mainHeader span{font-size: 12px;}
  .menuHeader{background: #fff;}
  .mainSection{padding-top: 90px;min-height: 850px; height: auto;}
  .userNavWrap{padding-top:60px;}
  .narrow{width:50%;}
  #usrtable_filter{float:right;}
  .mainHeader i{display: block;}
  .mainHeader a{color:#fff;font-size:15px;padding:.3rem;}
}

/* @media (any-hover: hover) {
  .mainHeader i{display: block;}
  .mainHeader a{color:#fff;font-size:15px;padding:.3rem;}
}
@media (any-hover: none) {
  .mainHeader i{display: none;}
  .mainHeader a{color:rgb(34,123,65);font-size:15px;padding:.3rem;}
  .mainHeader span{vertical-align: text-top;}
  .menuHeader{background: rgb(255,255,255);}
} */
